
    <!-- Header Section -->
    <header>
      <%- include("./components/header.ejs") %>
    </header>




  <div class="container">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </div>





    <!-- Footer Section -->
    <footer>
      <%- include("./components/footer.ejs") %>
    </footer>

