
    <!-- Header Section -->
      <%- include("./headerAndFooter/header.ejs") %>

  <div class="container">
    <%- include("./components/" + page + ".ejs") %>
  </div>


    <!-- Footer Section -->
      <%- include("./headerAndFooter/footer.ejs") %>

