
    <!-- Header Section -->
      <%- include("./headerAndFooter/header.ejs") %>




  <div class="container">
    <p>Welcome to <%= title %></p>
    <h2>Page Name : <%= page %></h2>
  </div>





    <!-- Footer Section -->
      <%- include("./headerAndFooter/footer.ejs") %>

