<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- CSS Section-->
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css"/>
    <link rel='stylesheet' href='/Content/style.css' />
    <!-- Scripts Scetion-->
    <script src="../node_modules/jquery/dist/jquery.min.js" defer></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js" defer></script>
    <script src="/Scripts/app.js" defer> </script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
