<h1 class="container text-center">Clothing List</h1>
<hr>
<div class="row container">
    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Index</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>
            <tbody>
                <!-- Repeating Row -->
                <% for (let i = 0; i < clothingList.length; i++) { %>
                    <tr>
                        <th scope="row"><%= i + 1 %></th>
                        <td><%= clothingList[i].name %></td>
                        <td><%= clothingList[i].price %></td>
                        <button type="submit">Edit</button>
                    </tr>
                    <% } %>
            </tbody>
        </table>
    </div>
</div>