<h1 class="container text-center">Edit Page</h1>
<hr>

<div class="row justify-content-lg-center g-3">
    <h1>
        <%= title%>Clothing</h1>
    <form action="" class="col-lg-6 col-md-10 col-sm-10"></form>

</div>