<h1 class="container text-center">Edit Page</h1>
<hr>

<div class="row justify-content-lg-center g-3">
    <h1>
        <%= title%>Clothing</h1>
    <form action="POST" class="col-lg-6 col-md-10 col-sm-10">

        <div class="input-group mb-3">
            <span class="input-group-text" id="name">Name</span>
            <inputid="name" type="text" class="form-control" placeholder="name" aria-label="Name" aria-describedby="Item Name">
        </div>

    </form>

</div>