       <% if(title == "Edit") { %>
               <h1>Edit</h1>
            <% } else { %>
            <h1>Add</h1>
            <% } %>  
<hr>

<div class="row justify-content-lg-center g-3">
    <form action="POST" class="col-lg-6 col-md-10 col-sm-10">

        <div class="input-group mb-3">
            <span class="input-group-text" id="name">Name</span>
            <input id="name" type="text" class="form-control" placeholder="name" aria-label="Name" aria-describedby="Item Name" name="name" value=<%=clothingItemToEdit.name%> required>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="price">Price</span>
            <input id="price" type="text" class="form-control" placeholder="price" aria-label="Price" aria-describedby="Item Price" name="price" value=<%=clothingItemToEdit.price%> required>
        </div>
        
              <% if(title == "Edit") { %>
                <button type="submit" id="editButton" class="btn btn-primary"><i class="fas fa-edit fa-lg"></i> Edit</button>
            <% } else { %>
                <button type="submit" id="addButton" class="btn btn-primary"><i class="fas fa-plus-circle fa-lg"></i> Add</button>
            <% } %>  

    <a href="/clothing-list" id="cancelButton" type="button" class="btn btn-warning"><i class="fas fa-undo"></i> Cancel</a>

    </form>
</div>